<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body> 
      <header>
          <div class="header-content header">
              <div class ="logo-content" >
                  <img src="\assets\images\logo.png"(click)="goHome()">
                  <div>
                      <span class="emp-text"(click)="goHome()">EMPLOYEE</span>
                      <span class="emp-text emp-payroll"(click)="goHome()">PAYROLL</span>
                  </div>
              </div>
            </div>
          </header>
</body>
     <router-outlet></router-outlet>